.notification {
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-image: linear-gradient(
    to right,
    rgba(238, 230, 230, 0),
    rgb(223, 222, 224)
  );
  backdrop-filter: blur(25px);
  /* box-shadow: 5px 5px 5px rgb(182, 178, 178); */
}

.notification-hide {
  display: none;
}

.notification:first-of-type {
  margin-top: 20px;
}

.notification__image {
  height: 75px;
}

.notification__info {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification__close {
  align-self: flex-start;
}
